In [1]:
import pandas as pd
pd.set_option('max_columns', None)
from plotnine import *

/Users/owner/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
#Data from CBInsights database of Agritech startups
df = pd.read_csv('all_csv/new_agtech.csv')

In [3]:
#replace all Nan values under 'total funding' with zero. 
df['funding']= df['funding'].fillna(0)

In [4]:
df.head()

,companies,expert_tag,farm_segment,solution_focus,funding,country
0,VoidBrains,AppliedSensorNetworks,NaN,NaN,0.0,NaN
1,"Visioneering Systems, Inc.",AppliedSensorNetworks,Multi-faceted,NaN,0.0,NaN
2,Carbon Farmed,NaN,Multi-faceted,Business Planning & Finance,0.0,NaN
3,Superbrewed Food,NaN,"Livestock, Poultry, & eats",Biotech,0.0,NaN
4,Kapsera,NaN,Crops,Biotech,0.0,NaN

In [5]:
#How many companies are there?
df.companies.count()

1842

In [6]:
#How much in funding in total?
df.funding.sum()

40997.86

In [7]:
#join continent file to first dataframe in order to create continent column
df1 = pd.read_csv('country_continent.csv')
df1.head()

          country  iso_code continent
0     Afghanistan         4      Asia
1   Åland Islands       248    Europe
2         Albania         8    Europe
3         Algeria        12    Africa
4  American Samoa        16   Oceania

In [8]:
df2 = df.merge(df1, on='country')

In [9]:
df2['continent'] = df2.continent.str.replace('Oceania', 'Australia')

In [10]:
# df2.to_csv('conCountries.csv')
df2.head()

,companies,expert_tag,farm_segment,solution_focus,funding,country,iso_code,continent
0,EarthOptics,NaN,Multi-faceted,Monitoring & Management,15.25,United States of America,840,North America
1,Harvesting,NaN,Crops,Business Planning & Finance,0.00,United States of America,840,North America
2,Harvest Automation - Warehouse Automation Busi...,"Handling, Agriculture",Crops,Monitoring & Management,0.00,United States of America,840,North America
3,Trimble,"infrastructure, Sensors, Connectivity, 3Dprint...",Crops,Monitoring & Management,0.00,United States of America,840,North America
4,Grow Camera,ConnectedDevices,Crops,Monitoring & Management,0.00,United States of America,840,North America

In [11]:
Africa = df2.query('continent=="Africa"')
Africa.head()

,companies,expert_tag,farm_segment,solution_focus,funding,country,iso_code,continent
1213,ACS Online,NaN,"Livestock, Poultry, & eats",NaN,0.00,South Africa,710,Africa
1214,FlyH2,"Drones, Agriculture",Crops,Monitoring & Management,0.00,South Africa,710,Africa
1215,Revolute,NaN,Crops,Monitoring & Management,0.00,South Africa,710,Africa
1216,Farmpin,NaN,Crops,Monitoring & Management,0.00,South Africa,710,Africa
1217,GreenFingers Mobile,NaN,Multi-faceted,Business Planning & Finance,0.07,South Africa,710,Africa

In [12]:
df2[df2.continent == 'North America'].funding.sum()* 1000000

25849850000.000004

In [13]:
df2[df2.continent == 'Australia'].funding.sum()* 1000000

266229999.99999997

In [14]:
df2[df2.continent == 'Africa'].funding.sum()* 1000000

374840000.00000006

In [15]:

df2[df2.continent == 'South America'].funding.sum()* 1000000

908120000.0

In [16]:
df2[df2.continent == 'Asia'].funding.sum() * 1000000

6507490000.0

In [17]:
df2[df2.continent == 'Europe'].funding.sum()* 1000000

4616129999.999999

In [18]:
## Africa alone and funding for biggest destination for investors within Africa

In [19]:
# percentage of investment in Africa
df2[df2.continent == 'Africa'].funding.sum() / df.funding.sum() * 100

0.9142916240018383

In [20]:
#Funding in Nigeria
Africa[Africa.country == 'Nigeria'].funding.sum()

84.38

In [21]:
#Funding in Kenya
Africa[Africa.country == 'Kenya'].funding.sum()

101.28999999999999

In [22]:
#Funding in South Africa
Africa[Africa.country == 'South Africa'].funding.sum()

150.96000000000004

In [23]:
## How much investment per solution focus?
df2.groupby('solution_focus').funding.sum().to_frame().reset_index()

                solution_focus   funding
0                      Biotech  17695.18
1  Business Planning & Finance   4507.22
2         Distribution & Sales   3344.95
3      Monitoring & Management  10906.74
4       Packing & Supply Chain   1926.39

In [24]:
## Percentage of all investment in agritech going to biotech companies
df2[df2['solution_focus'] == 'Biotech'].funding.sum() / df2.funding.sum() * 100

45.93447077642095

In [25]:
#How much investment in Biotech (the area which is attracting investors the most)per continent?
df2[df2['solution_focus'] == 'Biotech'].groupby('continent').funding.sum().to_frame().reset_index()

       continent   funding
0         Africa      0.01
1           Asia   1565.11
2      Australia     71.32
3         Europe   1749.56
4  North America  13771.52
5  South America    537.66

In [26]:
#Whhich areas are attracting the most investment in Africa?

Africa.groupby(['solution_focus']).funding.sum().to_frame().reset_index()

                solution_focus  funding
0                      Biotech     0.01
1  Business Planning & Finance   147.67
2         Distribution & Sales    11.41
3      Monitoring & Management   198.28
4       Packing & Supply Chain    16.47

In [27]:
#Whhich areas are attracting the most investment in Africa?

Africa.groupby(['solution_focus']).funding.sum().to_frame().reset_index()

                solution_focus  funding
0                      Biotech     0.01
1  Business Planning & Finance   147.67
2         Distribution & Sales    11.41
3      Monitoring & Management   198.28
4       Packing & Supply Chain    16.47

In [28]:
Africa.sort_values(by='funding').tail(20)

,companies,expert_tag,farm_segment,solution_focus,funding,country,iso_code,continent
1616,Yehu Microfinance,NaN,Multi-faceted,Business Planning & Finance,1.13,Kenya,404,Africa
1223,KHULA!,NaN,Crops,Distribution & Sales,1.30,South Africa,710,Africa
1615,Shamba Pride,NaN,Multi-faceted,Distribution & Sales,1.32,Kenya,404,Africa
1623,Esoko Networks,NaN,Crops,Business Planning & Finance,1.50,Ghana,288,Africa
1629,Green Gold Farms,NaN,Crops,Monitoring & Management,1.60,Ghana,288,Africa
1626,AgroCenta,"Agriculture, trading",Multi-faceted,Distribution & Sales,2.47,Ghana,288,Africa
1488,Pura Organic,NaN,Crops,Packing & Supply Chain,2.50,Uganda,800,Africa
1619,Hello Tractor,GeneralLending&Marketplaces,Crops,Business Planning & Finance,2.56,Kenya,404,Africa
1639,Farmcrowdy,Agriculture,Multi-faceted,Business Planning & Finance,3.01,Nigeria,566,Africa
1620,Victory Farms,NaN,Fishing & Seafood,Monitoring & Management,5.00,Kenya,404,Africa
1650,Releaf,Cannabis,Crops,Distribution & Sales,5.04,Nigeria,566,Africa
1224,Inseco,NaN,Multi-faceted,Monitoring & Management,5.30,South Africa,710,Africa
1633,Farmerline,NaN,Crops,Packing & Supply Chain,13.77,Ghana,288,Africa
1533,EthioChicken,NaN,"Livestock, Poultry, & eats",Monitoring & Management,15.00,Ethiopia,231,Africa
1647,Agricorp International,NaN,Crops,Business Planning & Finance,17.50,Nigeria,566,Africa
1222,Aerobotics,"Agriculture, mining",Crops,Monitoring & Management,21.64,South Africa,710,Africa
1613,SunCulture,Solar,Crops,Monitoring & Management,27.00,Kenya,404,Africa
1651,Thrive Agric,NaN,Crops,Business Planning & Finance,58.51,Nigeria,566,Africa
1617,Apollo Agriculture,Agriculture,Multi-faceted,Business Planning & Finance,62.21,Kenya,404,Africa
1218,AgriProtein,"Fertilizer, AlternativeFeeds","Livestock, Poultry, & eats",Monitoring & Management,122.50,South Africa,710,Africa

In [29]:
# af = df[df.continent == 'Africa']
# af.to_csv('afStartups.csv')

In [30]:
# Per capita investment in each continent (continent pop from https://worldpopulationreview.com/continents/africa-population)

Africa_pop = 1406722629
Asia_pop = 4715932231
Europe_pop = 748590761
NorthA_pop = 601048052
SouthA_pop = 437694443
Australia = 43630545

In [31]:
374840000 / Africa_pop

0.26646333276550993

In [32]:
6507490000 / Asia_pop

1.3798947230885261

In [33]:
5430740000 / Europe_pop

7.254617987464048

In [34]:
25849850000 / NorthA_pop

43.00795903752467

In [35]:
908120000 / SouthA_pop

2.0747807392199404

In [36]:
266229999 / Australia

6.101917796351157

In [37]:
#Where are investors putting their money in Africa?
Africa.groupby("solution_focus")['funding'].sum()

solution_focus
Biotech                          0.01
Business Planning & Finance    147.67
Distribution & Sales            11.41
Monitoring & Management        198.28
Packing & Supply Chain          16.47
Name: funding, dtype: float64

In [38]:
#Which startups have the highest funding?
topAfrica = Africa.sort_values(by="funding").tail(12)
topAfrica

,companies,expert_tag,farm_segment,solution_focus,funding,country,iso_code,continent
1639,Farmcrowdy,Agriculture,Multi-faceted,Business Planning & Finance,3.01,Nigeria,566,Africa
1620,Victory Farms,NaN,Fishing & Seafood,Monitoring & Management,5.00,Kenya,404,Africa
1650,Releaf,Cannabis,Crops,Distribution & Sales,5.04,Nigeria,566,Africa
1224,Inseco,NaN,Multi-faceted,Monitoring & Management,5.30,South Africa,710,Africa
1633,Farmerline,NaN,Crops,Packing & Supply Chain,13.77,Ghana,288,Africa
1533,EthioChicken,NaN,"Livestock, Poultry, & eats",Monitoring & Management,15.00,Ethiopia,231,Africa
1647,Agricorp International,NaN,Crops,Business Planning & Finance,17.50,Nigeria,566,Africa
1222,Aerobotics,"Agriculture, mining",Crops,Monitoring & Management,21.64,South Africa,710,Africa
1613,SunCulture,Solar,Crops,Monitoring & Management,27.00,Kenya,404,Africa
1651,Thrive Agric,NaN,Crops,Business Planning & Finance,58.51,Nigeria,566,Africa
1617,Apollo Agriculture,Agriculture,Multi-faceted,Business Planning & Finance,62.21,Kenya,404,Africa
1218,AgriProtein,"Fertilizer, AlternativeFeeds","Livestock, Poultry, & eats",Monitoring & Management,122.50,South Africa,710,Africa

In [39]:
#Companies that have raised the highest funding in Africa.
#I saved it into CSV so I can codify the solution focus more than the broad categorization given.
top_new = topAfrica[['companies', 'farm_segment', 'solution_focus', 'funding' ]]
# top_new.to_csv('top_new.csv')
top_new

,companies,farm_segment,solution_focus,funding
1639,Farmcrowdy,Multi-faceted,Business Planning & Finance,3.01
1620,Victory Farms,Fishing & Seafood,Monitoring & Management,5.00
1650,Releaf,Crops,Distribution & Sales,5.04
1224,Inseco,Multi-faceted,Monitoring & Management,5.30
1633,Farmerline,Crops,Packing & Supply Chain,13.77
1533,EthioChicken,"Livestock, Poultry, & eats",Monitoring & Management,15.00
1647,Agricorp International,Crops,Business Planning & Finance,17.50
1222,Aerobotics,Crops,Monitoring & Management,21.64
1613,SunCulture,Crops,Monitoring & Management,27.00
1651,Thrive Agric,Crops,Business Planning & Finance,58.51
1617,Apollo Agriculture,Multi-faceted,Business Planning & Finance,62.21
1218,AgriProtein,"Livestock, Poultry, & eats",Monitoring & Management,122.50

In [40]:
df2

,companies,expert_tag,farm_segment,solution_focus,funding,country,iso_code,continent
0,EarthOptics,NaN,Multi-faceted,Monitoring & Management,15.25,United States of America,840,North America
1,Harvesting,NaN,Crops,Business Planning & Finance,0.00,United States of America,840,North America
2,Harvest Automation - Warehouse Automation Busi...,"Handling, Agriculture",Crops,Monitoring & Management,0.00,United States of America,840,North America
3,Trimble,"infrastructure, Sensors, Connectivity, 3Dprint...",Crops,Monitoring & Management,0.00,United States of America,840,North America
4,Grow Camera,ConnectedDevices,Crops,Monitoring & Management,0.00,United States of America,840,North America
...,...,...,...,...,...,...,...,...
1692,ForFarming,NaN,Crops,Monitoring & Management,0.87,Turkey,792,Asia
1693,Tarfin,NaN,Crops,Business Planning & Finance,14.30,Turkey,792,Asia
1694,Bridgesoft,NaN,Crops,Biotech,0.00,Turkey,792,Asia
1695,Cowealthy,NaN,"Livestock, Poultry, & eats",Monitoring & Management,0.40,Turkey,792,Asia
1696,Juicy Marbles,NaN,"Livestock, Poultry, & eats",Biotech,4.63,Slovenia,705,Europe

In [41]:
#Percentage of funding by continent
fundingCont = df2.groupby('continent')['funding'].sum().to_frame().reset_index()
fundingCont

       continent   funding
0         Africa    374.84
1           Asia   6507.49
2      Australia    266.23
3         Europe   4616.13
4  North America  25849.85
5  South America    908.12

In [42]:
#Percentage of all funding for Africa
fundingCont.query('continent == "Africa"').funding.sum() / fundingCont['funding'].sum() * 100

0.9730376874286459

In [43]:
#Biotech percentage of funding
# df2.query('Solution Focus == "Biotech"')['Funding'].sum()
df2[df2['solution_focus'] == 'Biotech'].funding.sum() / df2.funding.sum() * 100

45.93447077642095

## Calculating percentage bio funding for each continent

In [94]:
biotech = df2.query('solution_focus == "Biotech"')
biotech = biotech.groupby('continent').funding.sum().to_frame().reset_index()
biotech

       continent   funding
0         Africa      0.01
1           Asia   1565.11
2      Australia     71.32
3         Europe   1749.56
4  North America  13771.52
5  South America    537.66

In [95]:
new = fundingCont.merge(biotech, on='continent')
new

       continent  funding_x  funding_y
0         Africa     374.84       0.01
1           Asia    6507.49    1565.11
2      Australia     266.23      71.32
3         Europe    4616.13    1749.56
4  North America   25849.85   13771.52
5  South America     908.12     537.66

In [96]:
new = new.rename(columns={'funding_y': 'bioFunding'})
new = new.rename(columns={'funding_x': 'totFunding'})
new

       continent  totFunding  bioFunding
0         Africa      374.84        0.01
1           Asia     6507.49     1565.11
2      Australia      266.23       71.32
3         Europe     4616.13     1749.56
4  North America    25849.85    13771.52
5  South America      908.12      537.66

In [99]:
new['pct_bioFunding'] = new['bioFunding'] / new['totFunding'] * 100
new.to_csv('bioFundingCont.csv')